@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mainCont {
  display: flex;
  width: 850px;
  height: 450px;

  background-color: whitesmoke;
  box-shadow: 5px 5px 25px rgb(161, 161, 161);
  padding: 35px;
  margin: 0 auto;
  border-radius: 20px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  background-color: rgb(54, 51, 55);
  border-radius: 15px;
}

.tipCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: 100px;
}

.tipCont__btn {
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
}

input {
  background-color: rgb(219, 227, 234);
}
