@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... your existing code ... */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input-left {
  font-size: 18px;
  padding: 8px;
  border-radius: 5px;
  background-color: rgb(219, 227, 234);
}

.mainCont {
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  max-width: 850px; /* Adjust max width */
  gap: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 5px 5px 25px rgb(161, 161, 161);
  padding: 2rem; /* Adjust padding */
}

.left {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr; /* Change grid-template-columns */
  gap: 50px;
  width: 100%; /* Adjust width */
  padding: 0;
  text-align: left;
}

.left-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn--noBG {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(54, 51, 55);
  color: white;
  padding: 40px;
  border-radius: 15px;
  text-align: left;
}

.rightBtn {
  background-color: rgb(91, 88, 96);
  height: 50px;
  border-radius: 5px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.leftmain-cont,
.rightmain-cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 300px;
}

.right-input {
  display: flex;
  justify-content: center;
  align-self: center;
}

.left-text {
  width: 100%;
}

.right-inbtn {
  background: none;
  width: 100%;
  direction: ltr;
  text-align: right;
}

.header {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  // width: 70px;
  margin-right: 80px;
}

.subText {
  font-size: 12px;
  color: grey;
}

.btn--noBG {
  border: none;
  outline: none;
  font-size: 32px;
  width: 100%;
  background: none;
}

.tipCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: auto;
}

.tipCont__btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  background-color: rgb(45, 45, 45);
  color: white;
  border-radius: 5px;
}

.tipCont__item:last-child .tipCont__btn {
  background-color: rgb(234, 213, 234);
  color: rgb(87, 86, 86);
}

/* Add media queries for responsiveness */
@media (min-width: 768px) {
  .mainCont {
    flex-direction: row; /* Change back to row layout on larger screens */
  }

  .left,
  .right {
    width: 50%; /* Reset width for columns */
  }

  .left {
    // padding-right: 50px;
  }
}
