@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1280px;
  height: 100dvh;
  margin: 0 auto;
  text-align: center;

  font-family: "SF Mono", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
