@use "abstracts" as *;

.left {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 100%;
  padding: 0;
  text-align: left;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 700; /* Moved up */
  }

  &__text {
    font-size: 1.5vw;

    @media (min-width: 1200px) {
      font-size: 1vw;
    }

    @media (max-width: 900px) {
      font-size: 1.5vw;
    }

    @media (max-width: 700px) {
      font-size: 3vw;
    }
  }

  &__input {
    font-size: 4vw;
    padding: 8px;
    border-radius: 5px;
    background-color: $active-bg;

    @media (min-width: 700px) {
      font-size: 2vw;
    }
  }

  &__input:focus {
    outline: none;
    box-shadow: 1px 1px 5px #bebebeb3;
  }
}

.tip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: auto;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3em;
    padding: 1em;
    border-radius: 5px;
    font-size: 2vw;
    cursor: pointer;
    transition: background-color 0.05s ease-in;
    background-color: $dark-bg;
    color: white;

    @media (min-width: 1200px) {
      font-size: 1vw;
    }

    @media (max-width: 300px) {
      font-size: 2vw;
    }

    @media (max-width: 700px) {
      font-size: 3vw;
    }
  }

  &__btn:hover {
    background-color: $med-bg;
  }

  &__btn.disabled {
    background-color: $dark-bg;
    color: $dis-clr;
  }

  &__item:last-child &__cusbtn {
    font-weight: bold;
    color: $dis-clr;
    background-color: $light-bg;
    transition: background-color 0.05s ease-in;
  }

  &__item:last-child &__cusbtn:hover {
    background-color: $light-bg;
    color: $dark-bg;
  }

  &__item:last-child &__cusbtn.disabled {
    background-color: $light-bg;
    color: $dis-clr;
  }
}
