@use "abstracts" as *;

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 0;
  text-align: left;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 700;
  }

  &__text {
    font-size: 1.5vw;
  }

  &__input {
    font-size: 2vw;
    padding: 8px;
    border-radius: 5px;
    background-color: $active-bg;
    border: 0.25px solid black;

    &:focus {
      outline: none;
      box-shadow: 1px 1px 5px #bebebeb3;
    }
  }

  font-weight: 700;
}

.tip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  height: auto;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    border: 0.25px solid black;
    height: 3em;
    padding: 1em;
    border-radius: 5px;
    font-size: 1vw;
  }

  &__btn:hover {
    color: white;
    background-color: $med-bg;
  }

  &__btn.disabled {
    background-color: $dark-bg;
    color: $dis-clr;
  }

  &__item:last-child &__cusbtn {
    font-weight: bold;
    color: $dis-clr;
    background-color: $light-bg;
    transition: background-color 0.05s ease-in;
  }

  &__item:last-child &__cusbtn:hover {
    background-color: $light-bg;
    color: $dark-bg;
  }

  &__item:last-child &__cusbtn.disabled {
    background-color: $light-bg;
    color: $dis-clr;
  }
}

// Media Queries for Text Sizes
@media (min-width: 700px) {
  .left__text {
    font-size: 1vw;
  }

  .left__input {
    font-size: 1.5vw;
  }

  .tip__btn {
    font-size: 1.1vw;
  }
}

@media (max-width: 900px) {
  .left__text {
    font-size: 1.5vw;
  }
}

@media (max-width: 700px) {
  .left__text {
    font-size: 2vw;
  }

  .left__input {
    font-size: 1.5vw;
  }

  .tip__btn {
    font-size: 2vw;
  }
}

@media (max-width: 300px) {
  .tip__btn {
    font-size: 2.5vw;
  }
}
