@use "abstracts" as *;

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: $dark-bg;
  color: white;
  border-radius: 15px;
  padding: 3vh;
  text-align: left;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__text {
    width: 100%;
  }

  &__label {
    width: 100%;
    font-size: 3vw;
    font-weight: 700;

    @media (min-width: 700px) {
      font-size: 1vw;
    }

    @media (max-width: 700px) {
      font-size: 3vw;
    }
  }

  &__textsmall {
    width: 100%;
    font-weight: 100;
    font-size: 2vw;
    color: $dis-clr;

    @media (min-width: 1200px) {
      font-size: 0.8vw;
    }

    @media (max-width: 300px) {
      font-size: 0.7vw;
    }

    @media (max-width: 700px) {
      font-size: 3vw;
    }
  }

  &__calculation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    direction: ltr;
    text-align: right;
    font-size: 3vw;
    background: none;
    color: $active-bg;

    @media (min-width: 1200px) {
      font-size: 2vw;
    }

    @media (max-width: 300px) {
      font-size: 2vw;
    }

    @media (max-width: 700px) {
      font-size: 5vw;
    }
  }

  &__btn {
    height: 6vh;
    font-size: inherit;
    font-weight: 700;
    background-color: $med-bg;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 5px 10px #222222b3;
  }
}

.leftmain__cont,
.rightmain__cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 30em;
}
