@use "abstracts" as *;

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: $dark-bg;
  color: white;
  border-radius: 15px;
  padding: 1.5rem;
  text-align: left;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__text,
  &__label,
  &__textsmall,
  &__calculation {
    width: 100%;
    font-weight: 100;
  }

  &__label {
    font-size: 1em;
  }

  &__textsmall {
    font-size: 1em;
    color: $dis-clr;
  }

  &__calculation {
    font-size: 1.5em;
    color: $active-bg;
    justify-content: flex-end;
    align-self: flex-end;
    text-align: right;
    direction: ltr;
  }

  &__btn {
    height: 6vh;
    font-size: 0.8em;
    font-weight: 700;
    color: black;
    background-color: $light-bg;
    border: 0.25px solid black;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 1px 5px 10px #222222b3;
    transition: all 0.1s ease-in-out;
  }

  &__btn:hover {
    color: $light-bg;
    background-color: $med-bg;
  }
}

.leftmain__cont,
.rightmain__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 8em;
}

@media (min-width: 1200px) {
  .right {
    &__label,
    &__calculation {
      font-size: 1vw;
    }
    &__textsmall {
      font-size: 0.8vw;
    }
  }
}

@media (min-width: 700px) {
  .right {
    &__calculation,
    &__btn,
    &__inbtn {
      font-size: 1.5vw;
    }
    &__label,
    &__textsmall {
      font-size: 1vw;
    }
  }
}

@media (max-width: 700px) {
  .right {
    &__calculation,
    &__btn,
    &__inbtn {
      font-size: 2.5vw;
    }
    &__label,
    &__textsmall {
      font-size: 1.8vw;
    }

    &__group {
      gap: 25px;
      margin-bottom: 20px;
    }
  }
}
